body {
  background-color: peachpuff;
}

header {
  background-color: #000;
  padding: 24px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  color: white;
  font-size: 25px;
}

ul {
  display: flex;
  gap: 30px;
}

ul li a {
  color: #fff;
}
